<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-zinc-900 text-white">
    <div class="main min-h-screen bg-zinc-900 w-max-[1080px] ml-auto p-10">
        <a href="/" class="text-blue-500 inline-block mb-10">Go Back to Home</a>
        

        <div class="form p-10 w-full">
            <form action="/edit" method="post">
              <input
                class="block w-full rounded-md outline-none text-white px-5 py-2 bg-zinc-800"
                type="text"
                name="previous"
                id=""
                placeholder="Previous Name"
                disabled="true"
                value=" <%= fileName %> "
              />
              <input
              class="block w-full mt-2 rounded-md outline-none text-white px-5 py-2 bg-zinc-800"
              type="text"
              name="new"
              id=""
              placeholder="New Name"
            />
              <input
                class="bg-yellow-800  p-2 px-5 py-2 mt-5 text-white rounded-md"
                type="submit"
                name=""
                id=""
                value="Update Name"
              />
            </form>
          </div>
    <script src="javascripts/script.js"></script>
  </body>
</html>

