<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-zinc-900">
    <div class="main min-h-screen bg-zinc-900 w-max-[1080px] ml-auto">
      <div class="form p-10 w-full">
        <form action="">
          <input
            class="block w-full rounded-md outline-none px-5 py-2 bg-zinc-800"
            type="text"
            name=""
            id=""
            placeholder="Title"
          />
          <textarea
            class="block px-5 mt-2 w-full rounded-md outline-none py-2 resize-none bg-zinc-800"
            name=""
            id=""
            placeholder="Write your task details here"
          ></textarea>
          <input
            class="bg-blue-600 p-2 px-5 py-2 mt-2 text-white rounded-md"
            type="submit"
            name=""
            id=""
            value="Create Task"
          />
        </form>
      </div>

      <div class="tasks flex gap-3 flex-wrap p-10">
        <div class="task w-72 px-3 py-4 hidden rounded-md bg-zinc-800">
            <h1 class="text-white text-3xl tracking-tighter"> Some task goes here</h1>
            <a href="" class="text-blue-500 inline-block mt-2">Read More</a>
        </div>
        <div class="task w-72 px-3 py-4 hidden rounded-md bg-zinc-800">
            <h1 class="text-white text-3xl tracking-tighter"> Some task goes here</h1>
            <a href="" class="text-blue-500 inline-block mt-2">Read More</a>
        </div>
        <div class="task w-72 px-3 py-4 hidden rounded-md bg-zinc-800">
            <h1 class="text-white text-3xl tracking-tighter"> Some task goes here</h1>
            <a href="" class="text-blue-500 inline-block mt-2">Read More</a>
        </div>
        <div class="task w-72 px-3 py-4 hidden rounded-md bg-zinc-800">
            <h1 class="text-white text-3xl tracking-tighter"> Some task goes here</h1>
            <a href="" class="text-blue-500 inline-block mt-2">Read More</a>
        </div>
        <div class="task w-72 px-3 py-4 hidden rounded-md bg-zinc-800">
            <h1 class="text-white text-3xl tracking-tighter"> Some task goes here</h1>
            <a href="" class="text-blue-500 inline-block mt-2">Read More</a>
        </div>
        <h2 class="text-zinc-500">No task yet.</h2>
      </div>
    </div>

    <script src="javascripts/script.js"></script>
  </body>
</html>
