<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-zinc-900 text-white">
    <div class="main min-h-screen bg-zinc-900 w-max-[1080px] ml-auto p-10">
        <a href="/" class="text-blue-500 inline-block mb-10">Go Back to Home</a>
        <h1 class="text-3xl tracking-tighter"> <%= fileName %> </h1>
        <p class="text-xl mt-2 text-zinc-400"><%= fileData %></p>
    <script src="javascripts/script.js"></script>
  </body>
</html>

